*{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', serif; 
    font-family: 'Source Sans 3', sans-serif;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(wwroot/images/Banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2%, 6%;
    justify-content: space-between;
    align-items: center;
    position: ;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 40px;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;

}

.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #cccccc;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after{
    width: 100%;
}

.nav2 ul li a {
    display: flex;
    padding: 2%, 6%;
    margin-inline: 20px;
    align-items: center;
    color: white;
    text-decoration: none;
}

    .nav2 ul li  ::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #cccccc;
        display: block;
        margin: auto;
        transition: 0.5s;     
} 
.nav2 ul li  :hover{
    width: 100%;
    
}

.nav2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

                                        /* Headingg 1 */
h1 {
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
    

}

.mission{
    text-align: center;
    margin-bottom: 40px;
}
.mission h2{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.mission p{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
}
                            /* button style */
.btn {
    width: 435px;
    height: 57px;
    background-color: rgb(182, 1, 1);
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: 900;
    text-align: center;

}
.btn:hover {   
    background-color: rgb(128, 0, 0);
    
}

.sec3 {
    text-align: center;
    background-color: rgb(224, 224, 224);
    padding-bottom: 50px;
}
.sec3 .btn a {
    width: 435px;
    margin-bottom: 20;
}
.sec3text{
    
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}
.sec3text h2 {
    padding-top: 50px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
}
.sec3text p {
    font-size: 30px;
}

video{
    display: flex;
    justify-content: center;
 
    width: 500px;
    margin-right: 30px;
}
.vdo  {
    display: block;
    margin-top: 10px;
    


}
.newsimg {
    margin-right: 30px;
    width: 300px;
    height: 200px;
}
.newsText {
    padding-top: 30px;
    width: 300px;
    height: 120px;
    background-color: white;
}
.newsText p {
    
}
.catheding {
    margin-top: 0px;
    color: #820000;
    text-transform: uppercase;
    font-weight: 600;
    
}
.cardisc {
    padding: 3%;
}

.card{
    background-color: white;
    width: 300px;
    margin: 10px;
}

.catcard{
    display:flex ;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 15px;
}
.catcard video {
    height: 350px;
    width: 630px;
}

.sec3 .btn {
    justify-content: center;
    width: 435px;
    height: 57px;
}

.sec4 {
    text-align: center;
    
}

.sec4cards {
    display: flex;
}
.sec4card {
    height: 425px;
    width: 410px;
    margin-left: 30px;
}
.sec4card  img {
    height: 274 px;
    width: 410px;
}
.acadText a {
    margin-top: 5px;
    text-align: left;
}
.acadText p {
    text-align: left;
}
.acadText a {
    font-weight: bold;
    color: rgb(92, 92, 202);
    text-decoration: none;
    text-align: left;
    margin-top: 10px;
}
.acadlink :hover {
    text-decoration: underline;
}
.andiv {
    margin-top: 10px;
    text-align: left;
}
.acadText a:hover{
    text-decoration: underline;
}
.acadheding {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}


.nextpart {
    margin-top: 100px;
    text-align: center;
}
.nextpart p {
    font-size: 30px;
}
.nextpart a {
    margin-inline: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #007bff;
}
.nextpart a ::after {
    content: " ";
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nextpart a:hover {
    width: 100%;
    text-decoration: underline;
    transition: 0.5s;
}
.academics-button {
    margin-top: 100px;
}
.academics-button a {
    text-decoration: none;
    color: black;
    padding: 10px 100px;
    font-size: 25px;
    color: #fff;
    background-color: #b1040e;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
}
.academics-button a:hover {
    transition: 0.5s;
    background-color:   #7b040a;
}

section {
        .container-campus {
          background-color: rgb(241, 236, 236);
          width: 100%;
          margin-top: 100px;
        }
        .campus-headings h4 {
          text-align: center;
          padding-top: 50px;
          font-size: 60px;
        }
        .campus-headings p {
          text-align: center;
          font-size: 25px;
        }
        .carts {
          margin-top: 30px;
          margin-left: 47px;
        }
        .another-cards {
          display: flex;
          width: auto;
          margin: 20px;
          margin-left: -22px;
        }
        .another-cards img {
          border-radius: 1px;
          margin: 0%;
          padding: 0%;
          max-width: 100%;
          width: 700px;
          height: 390px;
          max-height: none;
          margin: 0;
          box-shadow: 2px 2px 2px rgb(2, 2, 2, 0.7);
          cursor: pointer;
        }
        .another-cards:hover {
        }
      
        .carts ul {
          display: flex;
        }
      
        .carts iframe {
          border-radius: 1px;
          margin: 0%;
          padding: 0%;
          max-width: 100%;
          width: 700px;
          height: 400px;
          max-height: none;
          margin: 0;
        }
      
        .cards {
          width: 319px;
          height: 397px;
          background-color: white;
          border-radius: -12px;
          margin: 0px;
          margin-left: 110px;
          margin-inline: 28px;
          
          cursor: pointer;
          transition: 0.5s;
        }
        .cards:hover {
            box-shadow: 0px 0px 20px 0px rgb(2, 2, 2, 0.2);
        }
        .image img {
          width: 100%;
          height: 290px;
          border-radius: -12px;
          min-height: (100% + 1px);
        }
      
        .title {
          text-align: center;
        }
        .des {
          font-size: 12px;
          font-family: "Inter";
          font-weight: 70;
          color: rgba(0, 0, 0, 1);
      
          text-align: justify;
        }
        .campus-news {
          text-align: center;
          margin-top: 50px;
        }
      
        .campus-news a {
          text-decoration: none;
          color: black;
          padding: 10px 100px;
          font-size: 25px;
          color: #fff;
          background-color: #b1040e;
      
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .campus-news a:hover {
          transition: 0.5s;
          background-color: #7b040a;
        }
}

.secHealthCare {
    text-align: center;
}




.reviewsec {
    margin-top: 25px;
}
.review img {
    height: 100vh;
    width: 100%;
}
.layer {}

.secCampusLife {
    text-align: center;
}

.secAthletics {
    text-align: center;
    background-color: rgb(224, 224, 224);
    padding-bottom: 40px;
}



.secResearch {
    margin-top: 10px;
    text-align: center;
}
.secResearch .btn {
    margin-top: ;
}

.sec3text hr {
    margin-top: 54px;
    margin-left: 30px;
    margin-right: 30px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    text-align: center;
}
.stat {
    padding: 0px, 25px, 30px, 25px;
    text-align: center;
    margin-left: 65px;
}
.stat h3 {
    font-weight: 900;
    font-size: 40px;
}
.stat p {
    font-size: 25px;
}
hr {
    margin-top: 45px;
    margin-bottom: 50px;
}

.Admimage{
    
    text-align: center;
    
}
.usman {
    margin-top: 50px;
}



/* footer */
section {
    margin-top: 30px;
    .option {
      display: flex;
      justify-content: space-between;
    }
    .f1 {
      text-align: left;
      margin-top: 20px;
    }
    .f1 li {
      list-style: none;
      padding: 10px;
    }
    .f1 li a {
      color: black;
      text-decoration: none;
    }
    .f1 li a:hover {
      color: red;
      text-decoration: underline red;
    }
    .f1 h5 {
      color: red;
    }
    .b button {
      background-color: white;
      padding: 10px;
      width: 150px;
    }
    .b {
      padding: 10px;
    }
    .b button:hover {
      border-color: red;
      cursor: pointer;
      color: red;
    }
    .end {
      background-color: #b1040e;
      display: flex;
    }
    .air {
      color: white;
      margin-top: 20px;
      margin-left: 300px;
      font-size: larger;
    }
    .term {
      margin-top: 20px;
      margin-left: 30px;
      justify-content: center;
    }
    .term a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 20px;
    }
    .space {
      margin-top: 10px;
    }
    .c {
      color: white;
      text-align: center;
    }
    .term a:hover {
      text-decoration: underline;
    }
  
  }
  .documentry {
    margin-top: 60px;
    text-align: center;
  }